body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
  }
  
  .navigation {
    background-color: thistle;
  }

  .navigation ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .navigation li {
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px;
  }
  
  .navigation a {
    text-decoration: none;
  }

  .navigation  li.logo {
    color: black;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 4px;
  }
  
  #banner {
    background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
    background-size: cover;
    background-position: bottom center;
    height: 700px;
    width: 100%;
  }
  
  #banner .content h1 {
    border: 3px solid white;
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
  }
  
  #main {
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    width: 400px;
    height: 1000px;
    overflow: scroll;
  }
  
  h1 {
    color: white;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
  }
  
  h2 {
    border: 1px solid grey;
    position: relative;
    top: 10px;
    width: 400px;
    margin: 0 auto;
    color: lightgray;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
  }
  
  h3 {
    color: red;
    font-size: 26px;
    font-weight: 700;
    padding: 20px 10px;
  }
  
  h4 {
      color: grey;
      font-size: 20px;
      font-weight: 700;
      padding: 20px 10px;
  }

  p {
    font-size: 16px;
    line-height: 48px;
    margin-top: 60px;
    padding: 10px 20px;
  }
  
  .pull-quote {
    margin: 0 auto;
    width: 400px;
  }
  
  .byline {
    border-bottom: 1px solid LightGrey;
    border-top: 1px solid LightGrey;
    color: DarkGrey;
    font-size: 14px;
    font-weight: 200;
  }
  
  .share {
    border: 1px solid LightGrey;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .share a {
    background: red;
    border: 1px solid red;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 16px;
    text-decoration: none;
  }
  
  .share a:hover {
    background: white;
    border: 1px solid red;
    color: red;
  }

  /* style for explenations of box properties */

  .text {
    background-color: #234058;;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .text h1 {
      font-size: 15;
      top: 20px;
      margin: 10px;
  }

  .text h2 {
      margin: 30px auto;
  }

  .text p, li {
      list-style-type: none;
      padding: 5px;
      margin: 0px;
  }

  #box-picture {
    background-image: url(diagram.svg);
    background-size: cover;
    background-color: #234058;
    background-position: center center;
    height: 800px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

/* Border properties */ 
  #border {
      position: relative;
      padding: 5px;
      width: auto;
      margin: 10px 60px;
  }

  .border h1 {
      margin-top: 60px;
      color: grey;
      text-align: center;
  }

  .border h2 {
      background-color: aliceblue;
      color: darkgray;
      border: 0 none;
      width: auto;
  }
  
  .border p, li {
      padding: 10px;
      line-height: 28px;
      width: 0 auto;
  }

  #radius {
      position: relative;
      text-align: center;
      margin: 0 auto;
      width: auto; 
      padding: 50 50px;
  }

  .round {
      padding: 15px;
      width: 100%;
      margin: 10px auto;
      background: linear-gradient(-45deg, #acc2db, #141E30);
      color: black;
  }

  .round h1 {
      color:darkred;
      margin-top: 40px;
  }
  
  .round ul {
      height: 80px;
      list-style: none;
      margin: 50 auto; 
      padding: 100;
  }

  .round li {
      text-align: center;
      color: darkgrey;
      font-weight: 400;
      display: inline-block; 
      line-height: 80px; 
      padding: 50 50px;
      transition: background .5s; 
      height: 100px;
      width: 100px;
      border: 5px solid rgb(173, 217, 236);
      border-radius: 50%;
      background-color: rgb(121, 124, 139);
  }

  .round p {
      font-weight: 700;
      font-size:20px;
      padding: 20px 20px;
      margin-top: 100px; 
      margin-bottom: 100px; 
      background-color: rgba(255, 255, 255, 0.1);
      color: black;
      border-radius: 30px;
  }

  #padding {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: auto; 
  }

  .inside h1{
    color: olive;
      border: 1px solid olive;
      position: relative;
      width: 350px;
      margin: 0 auto;
      top: 30px;
  }

  .inside h3 {
    color: olive;
    font-weight: 600;
    line-height: 22px;
}

  .inside p {
    color: olive;
    padding: 10px;
    font-size: 22px;
    font-weight: 400;
    margin: 0px 150px;
  }

  