/* Background color and gradient in different browser versions: 

    Old browsers 
    background: #141E30;

    Chrome 10-25, Safari 5.1-6 
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);

    W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    background: linear-gradient(-45deg, #35577D, #141E30);
*/

body {
  font-family: 'New Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

* {scroll-behavior: smooth;}

.nav {
background-color: #43769c;
margin: 0;
width: 100%;
}

.nav ul {
margin: 0;
padding: 0;
text-align: center;
}

.nav li {
font-weight: 100;
letter-spacing: 2px;
padding: 20px;
display: inline-block;
}

.nav a {
color: grey;
text-decoration: none;
font-weight: 400;

}

.nav a:hover {
background: lightslategrey;
color: white;
border-radius: 3px;
padding: 6px;
}

.nav h1 {
color: white;
font-size: 28px;
font-weight: 200;
letter-spacing: 4px;
padding: 20px;
}

h1 {
  padding: 0px 50px;
}

h2 {
  padding: 0px 50px;
}

p {
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  color:  #315672;
  padding: 0px 50px;
}

#rules {
  padding-top: 10px;
}


.container {
  background: url(backbluedown.png) no-repeat center center; 
  background-size: cover;
  height: 460px;
  width: 100%;
  padding-top: 100px;
  overflow: scroll;
  margin: 0 auto;
  position: relative;
}

.container p {
  color: white;
}

.space {
  background: url(backblueup.png) no-repeat center center; 
  background-size: cover;
  height: 520px;
  width: 100%;
  margin: 0;

  position: relative;
}
.space h1{
  top: 50;
  padding-top: 50px;
  padding-right: 50px;
}

.space p{
  color: white;
}

.caption h1{
  text-align: right;
  padding: 0px 50px;
  padding-bottom: 50px;
}

.caption li {
  text-align: center;
  list-style-type: none;
  font-size: 22px;
  font-weight: 500;
}

.position {
  background-color:  #31567298;
}

.position h1 {
  margin-top: 20px;
  padding-left: 50px;
}

.position h2 {
  color: rgb(68, 68, 68);
}

.position p {
  color: rgba(0, 0, 0, 0.692);
}

.position a {
  text-decoration: none;
  color: rgb(204, 216, 235);
  font-weight: 400;
}

.position a:hover{
 color: aquamarine;

}

.position li {
  text-align: center;
  list-style-type: none;
  color: white;
  font-size: 22px;
padding: 10px;
}

.inline {
  background-color: #31567298;
}



.up {
  border: 1px solid lightgrey;
  padding: 20px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.up a {
  background: white;
  border: 1px solid olive;
  border-radius: 3px;
  color: olive;
  display: inline-block;
  margin: 10px;
  padding: 16px;
  text-decoration: none;
}

.up a:hover {
  background: olive;
  border: 1px solid olive;
  color: white;
}

/*//////////////////////////////////////////////////////////////
      
  .writer-img {
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    float: left;
    width: 50px;
  }
  */