html, body {
  margin: 0;
  padding: 0;
}
 
body {
  font-family: 'Roboto', sans-serif;
}
 /* Background color and gradient in different browser versions: 

    Old browsers 
    background: #141E30;

     Chrome 10-25, Safari 5.1-6 
     background: -webkit-linear-gradient(-45deg, #35577D, #141E30);

     W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
     background: linear-gradient(-45deg, #35577D, #141E30);
     */



  .header {
      background: url(backblueup.svg);
      background-size: cover;
      background-position: bottom center;
      height: 250px;
      margin-bottom: 250px;
    }
  
    .container {
      margin: 0 auto;
      max-width: 1200px; 
    }

  h1 {
    text-align: left;  
    color: #FFF;
    font-size: 35px;

  }
  
  h2 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 42px;
    text-transform: uppercase;
    line-height: 32px;
    text-align: left;
    padding-top: 30px;
  }

  p {
    font-family: Helvetica;
    font-size: 20px;  
    color: rgb(28, 55, 78);
    line-height: 1.2em;
    padding: 10px;
  }
  
  .image {
  background-image: url(backbluedown.svg);
  background-size: cover;
  background-position: top center;
  height: 500px;
  width: auto;
  margin: 0 auto;
  }

  .caption {
    color: rgb(22, 60, 95);
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
  }

  .caption h1 {
    text-align: right;
    color: whitesmoke;
    padding: 120px 50px 50px 0px;
  }

  .caption p {
    color: white;
    font-size: 18px;
    font-weight: 300;
    padding: 40px;
  }
  
  /* Important
    !important can be applied to specific attributes instead of full rules. It will override any style no matter how specific it is. As a result, it should almost never be used. Once !important is used, it is very hard to override.
    Since !important is used on the p selector’s color attribute, all p elements will appear blue, even though there is a more specific .main p selector that sets the color attribute to red.*/

    


/*//////////////////////////////////////////////////////////////
      
  .writer-img {
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    float: left;
    width: 50px;
  }
  */