/* Background color and gradient in different browser versions: 

    Old browsers 
    background: #141E30;

    Chrome 10-25, Safari 5.1-6 
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);

    W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    background: linear-gradient(-45deg, #35577D, #141E30);
*/

body {
  font-family: 'New Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

* {scroll-behavior: smooth;}

.nav {
background-color: #315672;
}

.nav ul {
margin: 0;
padding: 0;
text-align: center;
}

.nav li {
font-weight: 100;
letter-spacing: 2px;
padding: 10px;
}

.nav a {
color: lightslategrey;
text-decoration: none;

}

.nav a:hover {
background: lightslategrey;
color: white;
border-radius: 3px;
padding: 6px;
}

.nav  li.logo {
color: white;
font-size: 28px;
font-weight: 200;
letter-spacing: 4px;
}

h1 {
  padding: 0px 50px;
}

h2 {
  padding: 0px 50px;
}

p {
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  color:  #315672;
  padding: 0px 50px;
}

.container {
  background: url(backbluedown.png) no-repeat center center; 
  background-size: cover;
  height: 460px;
  width: 100%;
  padding-top: 100px;
  overflow: scroll;
}

.container p {
  color: white;
}

.space {
  background: url(backblueup.png) no-repeat center center; 
  background-size: cover;
  height: 520px;
  width: 100%;
}
.space h1{
  padding-top: 50px;
  padding-right: 50px;
}

.space p{
  color: white;
}

.caption {

}

.caption h1{
  text-align: right;
  padding: 0px 50px;
  padding-bottom: 50px;
}

.caption li {
text-align: center;
  list-style-type: none;
  font-size: 22px;
  font-weight: 500;
}







.up {
  border: 1px solid lightgrey;
  padding: 20px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.up a {
  background: white;
  border: 1px solid olive;
  border-radius: 3px;
  color: olive;
  display: inline-block;
  margin: 10px;
  padding: 16px;
  text-decoration: none;
}

.up a:hover {
  background: olive;
  border: 1px solid olive;
  color: white;
}

/*//////////////////////////////////////////////////////////////
      
  .writer-img {
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    float: left;
    width: 50px;
  }
  */