@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
}

.hero {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  max-width: 1400px;
  overflow: auto;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_title,
.hero_message {
  position: absolute;
  text-align: center;
  line-height: 2.2rem;
  top: -65vh;
  /* border: 1px solid red; */
  background-color: #ffffff69;
  color: #2e4992;
  border-radius: 5px;
  margin: 0 20px;
  max-width: 850px;
}

h1.hero_title {
  font-size: 6rem;
  font-weight: 300;
  line-height: 5rem;
}

p.hero_message {
  font-size: 2rem;
  font-weight: 100;
  top: -44vh;
}

h1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 5rem;
  /* border: 1px solid red; */
}

h2 {
  font-size: 4rem;
  font-weight: 300;
  /* border: 1px solid red; */
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  margin: 20px auto;
  overflow: hidden;
}

.square {
  background-color: #fff;
  box-shadow: 0 0 2px #000;
  height: 15px;
  width: 15px;
  border-radius: 4px;
  margin: 2px;
  transition: 2s ease;
}

.square:hover {
  transition: 0s;
}

.row {
  margin: 20px auto;
  color: white;
}

h2.row {
  margin: 100px auto 50px;
  color: #2e4992;
}

.col {
  display: flex;
  flex-basis: 30%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px auto;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #eee;
  border-radius: 5px;
  max-width: 440px;
  min-width: 280px;
  box-shadow: 5px 5px 25px -6px rgba(0, 0, 0, 0.4);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #eee;
  height: 200px;
  width: 100%;
}

.footer_links,
.footer_social {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.fab {
  font-size: 1rem;
  font-family: inherit;
  color: #2e4992;
  padding: 5px 0;
}

a {
  padding: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  color: #2e4992;
}
