@import url('https://fonts.googleapis.com/css?family=Lato:300;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body {
  color: #ddd;
}
/* 
.hero h1 {
  font-size: 2rem;
  font-weight: 300;
  color: #a7830c;
  margin-bottom: 20px;
} */

.hero {
  background: linear-gradient(
    195deg,
    #3c546d 0%,
    #10212e 50%,
    #03070a 90%,
    #000000 100%
  );
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.hero h4 {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  /* color: #929eb4; */
  color: #a79046;
  padding: 20px;
  margin: 20px;
  line-height: 2rem;
}

.header h2 {
  font-size: 2.5rem;
  color: transparent;
  background: linear-gradient(
    to bottom,
    #f7d66cd5 0%,
    #a7830ce5 45%,
    #362f09 50%,
    #806902 59%,
    #d4ac27e5 80%
  );
  -webkit-background-clip: text;
  /* text-shadow: 3px 3px 5px #111; */
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #50461159, #d3a614, #8069025d) 0 1
    100%;
  padding-bottom: 15px;
}

/* .header {
  padding: 10px;
  margin: 20px 0;
} */

.container {
  position: relative;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.aboutme {
  background-color: #fff;
  color: #3c546d;
  padding: 30px;
}

.aboutme h2,
.projects h2 {
  font-size: 2rem;
  padding-bottom: 20px;
}

.projects {
  background-color: #3c546d;
  color: #fff;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
}

.footer {
  background-color: #000;
  color: #a79046;
  height: 80vh;
  z-index: -1;
}

.footer_text {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

@media (max-width: 574px) {
  * {
    font-size: 12px;
  }
}
